/* LoginSuccess.css or reuse RegistrationSuccess.css */
.success-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: linear-gradient(to right, #e0eafc, #cfdef3);
}

.success-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.success-card h1 {
    margin-bottom: 10px;
    color: #28a745;
}

.success-card p {
    margin-bottom: 20px;
    color: #555;
}

.success-card button {
    padding: 10px 20px;
    background-color: #0aaa52;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.success-card button:hover {
    background-color: rgb(11, 140, 50)
}
